combinationTest.py
__pycache__/models.cpython-313.pyc
__pycache__/fit_logic.cpython-313.pyc
__pycache__/models.cpython-313.pyc
__pycache__/fit_logic.cpython-312.pyc
__pycache__/fit_logic.cpython-313.pyc
__pycache__/models.cpython-312.pyc
__pycache__/models.cpython-313.pyc
__pycache__/ParamDialog.cpython-313.pyc
__pycache__/tooltips.cpython-313.pyc
__pycache__/ParamDialog.cpython-312.pyc
Testdaten/exportfit.txt
Testdaten/savefit.txt
config.json
Testdaten/2023-10-26_12-32-14_u230119a__161023_.qtj
Testdaten/2023-10-26_12-32-14_u230119a__1610234_.qtj
.vscode/settings.json
__pycache__/fittingtest.cpython-313.pyc
__pycache__/model.cpython-313.pyc
Testdaten/2023-10-26_12-32-14_u230119a__1610234_.qtj
Testdaten/2023-10-26_12-32-14_u230119a__1610234_.qtj
__pycache__/BoundsDialog.cpython-313.pyc
